{% extends 'base_shop.html' %}

{% block title %}
    {{ super() }} - {{ title }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4">
            <h6>Сумки</h6>
            <p>Кожанные</p>
            <p>Клатчи</p>
            <p>Шопперы</p>
            <p>Рюкзаки</p>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <h6>Головные уборы</h6>
            <p>Шляпы</p>
            <p>Кепки</p>
            <p>Платки</p>
            <p>Шарфы</p>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <h6>Украшения</h6>
            <p>Браслеты</p>
            <p>Кулоны</p>
            <p>Бусы</p>
            <p>Серьги</p>
            <p>Кольца</p>
        </div>
    </div>
{% endblock %}