{% extends 'base_shop.html' %}

{% block title %}
    {{ super() }} - {{ title }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4">
            <h6>Летняя обувь</h6>
            <p>Туфли</p>
            <p>Босоножки</p>
            <p>Кроссовки</p>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <h6>Зимняя обувь</h6>
            <p>Сапоги</p>
            <p>Ботинки</p>
            <p>Кроссовки</p>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <h6>Демисезонная обувь</h6>
            <p>Сапоги</p>
            <p>Ботинки</p>
            <p>Кроссовки</p>
        </div>
    </div>
 {% endblock %}